# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
_version.py

# IDE
.vscode/

# Virtual environment
.venv/

# Environment variables
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints

# Local data
datasets
checkpoints
wandb

# Local scratch/tmp
.scratch
tmp
